@using Model_banhang24vn
@model Model_banhang24vn.CustomView.Client.newsDetailView
@{
    ViewBag.Title = Model.NewsModel.Title;
    var tags = (IEnumerable<Tag>)ViewBag.Tags;
    var url = System.Configuration.ConfigurationManager.AppSettings["Webhttp"] + Model.NewsModel.Url;

}

@section scripts{
    <script>
        $(document).ready(function(){
            if ($('.tags-news').find('a').length > 0) {
                $($('.tags-news').find('a')[$('.tags-news').find('a').length - 1]).html($($('.tags-news').find('a')[$('.tags-news').find('a').length - 1]).html().replace(',', ''))
            }
            $('#TitleDate').text(localValidate.converToTimeview('@ViewBag.CreateDate'));
            vmNews.GetNewsDate();
        })
    </script>
}
<style>
    .news-title {
        color: #3D475C;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
    }

    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: #E0E4EB;
    }

    .card {
        background: #FEFEFF;
        box-shadow: 5px 5px 20px 0px #2745731a;
        border: none;
    }

    .card-body {
        flex: 1 1 auto;
        padding: 0;
    }
</style>
<div id="renderNews">
    <div class="container-fluid op-banner">
        <div class="container ">
            <div class="op-banner-content" data-aos="fade-right">
                <h1 class="op-gara-heading">
                    <span style="margin-bottom:30px">     Tin tức Open24</span>

                </h1>
            </div>
            <div class="op-banner-image" style="max-width:60%">
                <img src="~/Content/images/open24/op-tintuc-bg.svg" alt="gara xe" />
            </div>
        </div>
    </div>
    <div class="container" style="padding:80px 0">
        <h1 class="news-title">@Model.NewsModel.Title</h1>
        <div class="flex justify-content-start align-items-center">
            <img class="avatar" src="~/Content/images/open24/avatar.svg" style="margin: 24px 0" />
            <div class="flex flex-column justify-content-between align-items-start" style="margin-left:16px">
                <h5 style="color: #3D475C;font-size:18px;font-weight:500">@Model.CreateByUser</h5>
                <h5 style="color: #525F7A; font-size: 16px; font-weight: 400">Đăng @Model.NewsModel.CreateDate</h5>
            </div>
        </div>
        <img src="@Model.NewsModel.UrlImage" style="width: 100%;height:400px;object-fit:fill" />
        <div class="row" style="margin-top:64px">
            <div class="col-3">
                <div class="related-news fl" style="margin-top: 32px">
                    <div class="fl carenews" style="padding-top: 1%;">
                        <div class="fb-like" data-href='@url' data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>
                    <div class="fb-comments" data-href='@url' data-numposts="5" data-width="100%"></div>
                </div>
            </div>
            <div class="col-9">
                <div class="content-detailnews fl">
                    @Html.Raw(Model.NewsModel.Content)
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 96px 0">
        <div class="flex flex-row justify-content-between" style="margin-bottom:64px">
            <h2 style="color: #3D475C;font-size:32px;font-weight:700">Bài viết liên quan</h2>
            <a href="@Model.CategoriesModel.Url" style="padding: 12px 24px; color: #FFFFFF; border-radius: 24px; background: #0078D7;border:none">Xem tất cả</a>
        </div>
        <div class="row">
            @if (Model.ListRlatedArticles.Any())
            {
                foreach (var item in Model.ListRlatedArticles)
                {
                    <div class="col-6 col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <img style="height:255px;width:100%;margin-bottom:24px;border-radius:12px" src="@item.UrlImage" />
                                <div class="flex justify-content-between align-items-start border-bottom">
                                    <span>@item.CreateDate</span>
                                </div>
                                <p style="margin-top: 8px; color: #3D475C;font-size:24px;font-weight:700">
                                    @item.Title
                                </p>
                                <div style="height:72px;overflow:hidden;text-overflow:clip; margin-top:16px">
                                    <p style="color: #525F7A;font-size:16px;font-weight:400">@Html.Raw(item.Summary)</p>
                                </div>
                                <a href="@item.Url" style="color: #0078D7;font-size:18px;font-weight:700;margin-top:16px">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<script src="~/Assets/js/Client/open24/RenderNewVue.js"></script>